
.portrait-card {
  position: relative;
  width: 232px;
  height: 380px;
  cursor: pointer;
  top: -300px;
  background: url("../../assets/me.jpg");
  background-size: cover;
}


@media screen and (max-width: 992px) {
  .portrait-card {
    display: none;
  }
  
}
