.footer {
  position: relative;
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;

  &:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 50%;
    bottom: 0;
    background: rgba(255,255,255,.1);
    z-index: 10;
    border-top: 1px solid rgba(255,255,255,.5);
    backdrop-filter: blur(10px);
  }

}

ul.sci {
  position: relative;
  display: flex;

  li {
    position: relative;list-style: none;
    margin: 10px;

    a {
      position: relative;
      top: 0;
      width: 80px;
      height: 80px;
      display: flex;
      text-decoration: none;
      justify-content: center;
      align-items: center;
      color: #fff;
      font-size: 2em;
      border: 1px solid rgba(255,255,255,0.4);
      border-right: 1px solid rgba(255,255,255,0.2);
      border-bottom: 1px solid rgba(255,255,255,0.2);
      border-radius: 10px;
      background: rgba(255,255,255,.1);
      backdrop-filter: blur(4px);
      z-index: 1;
      box-shadow: 0 5px 45px rgba(0,0,0,0.1);
      overflow: hidden;
      transition: top .5s, z-index 0s, transform .5s;
      transition: top .5s, z-index 0s, -webkit-transform .5s;
      transition-delay: .5s, .5s, 0s;

      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 50px;
        height: 100%;
        background: rgba(255,255,255,.5);
        transform: skewX(45deg) translateX(150px);
        transition: .5s;
      }

      &:hover {
        transition-delay: 0s, .5s, .5s;
        top: -50px;
        transform: translateY(50px);
        z-index: 11;

        &:before {
          transform: skewX(45deg) translateX(-150px);
        }
      }
    }
  }
}
